.advantages {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }

  &__list {
    @include for-size(tablet) {
      display: flex;
    }

    @include for-size(tablet-only) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include for-size(mobile-only) {
      min-width: 290px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include for-size(tablet-only) {
      width: calc((100% - 30px) / 2);
      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @include for-size(desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &::before {
      display: block;
      content: "";

      height: 120px;

      background-color: $our-team-section-bgc;
      background-size: 70px 70px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.antenna::before {
      background-image: url(../images/advantages/antenna.svg);
    }

    &.clock::before {
      background-image: url(../images/advantages/clock.svg);
    }

    &.diagram::before {
      background-image: url(../images/advantages/diagram.svg);
    }

    &.astronaut::before {
      background-image: url(../images/advantages/astronaut.svg);
    }
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;

    color: $section-title-color;
  }

  &__description {
    @include font(400, 14px, 24px, 0.03em);
  }
}
