.footer {
  padding: 60px 0;

  background-color: $footer-bgc;

  &__container {
    @include for-size(tablet) {
      display: flex;
    }

    @include for-size(tablet-only) {
      flex-wrap: wrap;
    }

    @include for-size(desktop) {
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;

    color: $footer-logo-color;
  }
}

@import "../components/footer-address";
@import "../components/footer-social-links";
@import "../components/footer-subscr";
