.team {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }

  background-color: $our-team-section-bgc;

  &__list {
    @include for-size(tablet) {
      display: flex;
    }
    @include for-size(tablet-only) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include for-size(mobile-only) {
      min-width: 320px - 30px;
      max-width: 450px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include for-size(tablet-only) {
      width: 354px;
      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @include for-size(desktop) {
      // width: calc((100% - 3 * 30px) / 4);
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__img {
    width: 100%;
  }

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;

    @include for-size(desktop) {
      padding-bottom: 30px;
    }

    text-align: center;
  }

  &__name {
    margin-bottom: 10px;

    @include font(500, 16px, 19px, 0.03em);

    color: $section-title-color;
  }

  &__position {
    display: inline-block;
    margin-bottom: 16px;

    @include font(400, 16px, 19px, 0.03em);
  }
}
