.filter-list {
  margin-bottom: 30px;
  display: flex;

  @include for-size(mobile-only) {
    flex-wrap: wrap;

    &__item {
      margin-bottom: 21px;
    }
  }

  @include for-size(tablet) {
    margin-bottom: 40px;

    justify-content: center;
  }

  @include for-size(desktop) {
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    display: inline-block;
    padding: 6px 22px;

    border-radius: 4px;
    border-style: none;

    background-color: $portfolio-btn-color;
    color: $portfolio-btn-txt-color;

    @include font(500, 16px, 26px, 0.03em);

    text-align: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $portfolio-btn-accent;
    }
  }
}
