.footer-address {
  margin-bottom: 60px;

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 1119px) {
    text-align: center;
  }

  @include for-size(tablet-only) {
    width: calc(100% / 2);
  }

  @include for-size(desktop) {
    margin-bottom: 0;
    text-align: left; // should be checked
    &__item:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link {
    @include font(400, 14px, 24px, 0.03em);

    color: $footer-address-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &.location {
      color: $footer-address-location-color;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
