.footer-subscr {
  @media screen and (max-width: 1119px) {
    min-width: 320px - 30px;
    text-align: center;
    margin: 0 auto;
  }

  &__banner {
    @extend %banner;
  }

  &__input {
    margin-bottom: 20px;
    width: calc(100% - 4 * 15px);

    @include for-size(desktop) {
      width: 358px;
      margin-bottom: 0;

      margin-right: 12px;
    }

    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: transparent;
    color: $footer-logo-color;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      @include font(400, 16px, 20px, 0.03em);

      color: $footer-address-color;
    }

    &:focus {
      border-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

      &::placeholder {
        color: $footer-logo-color;
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;

    padding: 10px 28px;
  }

  &__icon {
    width: 24px;
    height: 24px;

    margin-left: 10px;
  }
}
