.social-links {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 32px;
  }

  &__link {
    display: block;
    height: 44px;
    border-radius: 50%;

    color: $our-team-social-icon;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $our-team-social-icon-accent;
      background-color: $accent-color;
    }
  }
  &__icon {
    width: 44px;
    height: 44px;
    fill: currentColor;
  }
}
