*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-style: normal;
  color: $main-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
