$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-color: #757575;
$nav-link-color: #212121;
$header-address-color: #757575;
$logo-color: #000000;
$header-border: #ececec;
$accent-color: #2196f3;
$hero-color: #ffffff;
$hero-btn-color: #ffffff;
$section-title-color: #212121;
// $advantages-icon-bgc: #f5f4fa;
$our-team-section-bgc: #f5f4fa;
$our-team-social-icon: #afb1b8;
$our-team-social-icon-accent: #ffffff;
$client-link-color: #afb1b8;
$footer-logo-color: #ffffff;
$footer-address-color: rgba(255, 255, 255, 0.6);
$footer-address-location-color: #ffffff;
$footer-bgc: #2f303a;
$portfolio-btn-txt-color: #212121;
$portfolio-btn-color: #f5f4fa;
$portfolio-btn-accent: #ffffff;
$portfolio-item-border-color: #eeeeee;
